In [1]:
import requests

url = {
    'index': "https://sistemas.uepg.br/academicoonline/login/index",
    'auth': "https://sistemas.uepg.br/academicoonline/login/authenticate",
    'home': "https://sistemas.uepg.br/academicoonline",
    'notas': "https://sistemas.uepg.br/academicoonline/avaliacaoDesempenho/index"
}

user = {
    'login': "",
    'password': ""
}

with requests.Session() as session:
    index = session.request("GET", url['index'])
    
    headers = {
        'cookie': f'JSESSIONID={requests.utils.dict_from_cookiejar(session.cookies)["JSESSIONID"]}; __utma=241181661.1990841241.1518980587.1520085361.1520277780.4; __utmz=241181661.1518980587.1.1.utmcsr=(direct)|utmccn=(direct)|utmcmd=(none)',
        'connection': 'keep-alive',
        'upgrade-insecure-requests': "1"
    }
    
    auth = session.request("POST", url['auth'], user, headers=headers)
    notas = session.request("GET", url['notas'], headers=headers)

In [2]:
from bs4 import BeautifulSoup

In [3]:
soup = BeautifulSoup(notas.text, 'html.parser')

In [4]:
table = soup.find('table')

In [5]:
from IPython.core.display import HTML

In [6]:
HTML(str(table))

In [7]:
def parse_rows(rows):
    results = []
    for row in rows:
        table_headers = row.find_all('th')
        if table_headers:
            results.append([headers.get_text() for headers in table_headers])

        table_data = row.find_all('td')
        if table_data:
            results.append([data.get_text() for data in table_data])
    return results

In [8]:
rows = table.find_all('tr')

In [9]:
data = parse_rows(rows)

In [10]:
import pandas as pd

In [11]:
df = pd.DataFrame(data=data)

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,Código,Nome,Turma,Calendário,Faltas,Nota1,Nota2,NotaE,Média,%Freq.,Cond.
1,203076,Orientação de Trabalho de Conclusão de Curso,A,2018,0,,,,0,100,R
2,203069,Empreendedorismo,A,2018-1,0,,,,0,100,R
3,203070,Computadores e Sociedade,A,2018-1,0,,,,0,100,R
4,203082,Robótica,A,2018-1,4,,,,0,94,R
5,203083,Modelagem e Simulação,A,2018-1,0,,,,0,100,R
6,404055,Economia,A,2018-1,0,,,,0,100,R
7,203127,Estágio Supervisionado,A,2018-2,0,,,,0,100,R

In [13]:
df[1]

0                                            Nome
1    Orientação de Trabalho de Conclusão de Curso
2                                Empreendedorismo
3                        Computadores e Sociedade
4                                        Robótica
5                           Modelagem e Simulação
6                                        Economia
7                          Estágio Supervisionado
Name: 1, dtype: object

In [14]:
df[4]

0    Faltas
1         0
2         0
3         0
4         4
5         0
6         0
7         0
Name: 4, dtype: object

In [15]:
df_n = list(df[[1, 4]].itertuples(index=False, name=None))[1:]

In [26]:
dict_n = dict((x, y) for x, y in df_n)

In [27]:
dict_n

{'Computadores e Sociedade': '0',
 'Economia': '0',
 'Empreendedorismo': '0',
 'Estágio Supervisionado': '0',
 'Modelagem e Simulação': '0',
 'Orientação de Trabalho de Conclusão de Curso': '0',
 'Robótica': '4'}